.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px; 
  }
  
  .login-page label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: 500;
  }
  
  .login-page h2 {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 24px;
    color: #d32323;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .new-yelp {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 16px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .terms {
    color: #333;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 12px;
    display: block;
    text-align: center;
  }
  
  .login-page input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 18px;
    padding: 5px 9px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.28571em;
    line-height: 1.29em;
  }
  
  .login-page input:focus {
    border: 2px solid #0056b3;
  }
  
  .login-page button {
    padding: 10px 13px;
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
    background-color: rgb(210, 19, 19);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-page button:hover {
    background-color: rgb(193, 98, 98);
  }
  
  .login-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .terms a{
    color: #0073bb;
    text-decoration: none;
  }
  

  .login-right-side img {
    height: 300px;
    width: 350px;
  }
  
  