header{
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    /* left: 0;
    right: 0; */
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 3;

}

header * {
    display: flex ;
}

#left-nav{
    margin-left: 10px;
}

#right-nav{
    margin-right: 10px;
    padding: 25px;
    display: flex;
    flex-direction: row;
}


.logo{
    display: flex;
    align-items: center;
}

.logo a {
color: #e0101a;
/* height: 150px;
width: 150px; */
margin: 0;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 16px;
    padding-top: 1px;
    position: relative;
    text-decoration: none;
    z-index: 3;
}

.navbar-text {
    text-decoration: none;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    margin-right: 10px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-text-onchange{
    text-decoration: none;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    border: 0;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* margin: 20px; */
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 20px;
    padding: 8px; */
    margin: 0;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;

}

.login{
    border: 1px solid rgba(200,201,202,1);
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* margin-bottom: 10px; */
    /* color: rgba(255,255,255,1); gorunmuyor simdilik kapat sonra ac */
    font-weight: 500;
    color: black;
    /* /* margin: 20px; */
    /* padding: 8px;  */
    margin: 0;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;

}

.right-nav{
    display: flex;
}

.hidden{
    display: none;
}

.navbar-white{
    background-color: #ffff; 
    border-color: #ebebeb;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
}
.navbar-white .login{
    color: black;
}
.navbar-white .login:hover{
    background-color: rgba(219, 212, 212, 0.4);

}
.home{
  margin-right: auto;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 500;
}

.login:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.signup:hover {
   background-color:  rgb(233, 0, 0);
}
.search-style{
    display: flex;
    align-items: center;
}
.search-style input{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search-items{
    display: flex;
    justify-content: center;
    /* margin-left: 180px; */
    width: 600px;
}
.search-box{
    /* margin-left: 200px; */
    margin-top: px;
    padding-top: 10px;
    text-align: center;
    padding: 13px 200px;
    border-radius: 4px 0 0 4px;
    cursor: text;
    position: relative ;
    border-color: transparent;
    transition: box-shadow .2s ease-in-out;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
 .search-items i{
    
    color: white;
    background-color: red;
    padding: 11.7px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    
 }
