.image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 20%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* z-index: -1; */
}
/* .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.image-container .shop-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-text {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: rgb(254, 249, 253);
  padding: 10px;
  font-weight: 900;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  left: 30rem;
  font-size: 250px;
}

.shop-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.rewiew-button {
  padding: 15px;
  font-size: 18px;
  margin-top: 1000px;
  color: #ffffff;
  background-color: #d32323;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.photo-button {
  padding: 15px;
  font-size: 18px;
  margin-top: 1000px;
  color: #ffffff;
  background-color: #d32323;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.show-card {
  border-radius: 5px;
  box-shadow: 0px 0px 4px #ccc;
  color: #253b56;
  align-items: flex-end;
  display: flex;
  width: 3px;
  height: 90%;
  width: 45%;
  margin-right: 10px;
}
.middle-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-bottom: 30px;
}

.middle-page {
  /* position: relative; */
  min-width: 1224px;
}
.card-content {
  padding: 40px 16px 1px 16px;
  list-style: none;
}

.card-link a {
  color: rgba(2, 122, 151, 1);
  font-size: 14;
  margin: 10px 0px 30px 0px;
  text-decoration: none;
  font-weight: 700;
}

.card-phoneNumber {
  font-size: 14;
  margin: 10px 0px 30px 0px;
}

.address-title {
  color: rgba(2, 122, 151, 1);
  font-weight: 900;
}

.ice-cream-positive {
  color: rgb(202, 28, 141);
}

.img-rating {
  font-size: 30px;
  position: absolute;
  top: 70%;
  left: 30.5%;
  transform: translate(-50%, -50%);
  color: rgb(202, 28, 141);
  padding: 10px;
  text-align: flex-end;
  font-weight: 900;
  font-family: "Rubik", sans-serif;
}

.img-rating .ice-cream-negative {
  color: rgb(215, 125, 196);
}

.show-left {
  width: 60%;
  justify-content: center;
}

.show-right {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.show-split {
  height: 100%;
  width: 50%;
  padding-top: 20px;
  justify-content: center;
}
.map-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50%;
}

#map {
  width: 100%;
  height: 100%;
}
