#shop-profile-container {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 100px;
    max-height: 300px;
    overflow-y: scroll;
    margin-left: 375px;
    margin-top: 100px;

}
.split-card span{
    font-family: 'Oxygen', sans-serif;
}
#shop-profile-container li{
    text-decoration: none;
}

.no-result{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Oxygen', sans-serif;
}