.review-container {
  width: 100%;
  /* padding: 20px; */
  margin: 80px 0px 0px 0px;
  /* border-top: 1px solid rgb(197, 192, 192); */
  display: flex;
  flex-direction: column;
  height: auto;


  }
  
  .user-photo {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid;
    border-radius: 50%;
  }
  
  .user-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .profile-photo {
    height: 80px;
    width: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .profile-name {
    height: 80px;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
  }
  .rating-container p {
    margin-left: 10px;

  }
  
  .rating-context {
    height: auto;
    width: 600px;
    margin-top: 20px;
  }

  .ppp{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 10px;
  }
  
  .delete-btn-review {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    cursor: pointer;
  }
  
  .delete-btn-review button {
    border: 0;
    border-radius: 4px;
    background-color: rgba(224, 7, 7, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    text-align: center;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .icon-container {
    height: 50px;
    width: 600px;
    margin-top: 20px;
  }
  
  .comment-icons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .comment-icons li {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    border-width: 4px;
    border-color: rgb(227, 227, 227);
  }
  
  .comment-icons img {
    height: 40px;
    width: 40px;
    align-self: normal;
  }
  
  .comment-tags {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  .comment-tags li {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(110, 112, 114);
    text-align: left;
    user-select: none;
  }
  
  .review-margin{
    margin-left: 60px;
  }

  .userNull{
    object-fit: cover
  }
  