.review-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 50px;
}

.review-form{
  width: 500px;
  height: 400px;
  display: flex;
  border: 1px solid rgba(200,201,202,1) !important;
  border-radius: 4px;
  cursor: text;
}
.review-form-template{
  width: 90%;
}

.select-star{
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  color: #6e7072!important;
  margin-left: 20px;
}

.post-btn{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-name-header{
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: 700;
  -webkit-letter-spacing: -0.4px;
  -moz-letter-spacing: -0.4px;
  -ms-letter-spacing: -0.4px;
  letter-spacing: -0.4px;
  line-height: 36px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45,46,47,1);
  margin-bottom: 20px;
}

.explanation{
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(110,112,114,1);
  text-align: left;
  margin: 20px 0px 20px 10px;
}

.review-body{
  height:300px;
  width: 400px;
  border: none;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  border: 0;
  width: 100%;
  padding: 0;
  resize: none;
  color: rgba(45,46,47,1);
  margin-left: 20px;
}

.review-body:focus{
  outline: none;
}

.rating-button-o{
  margin: 10px 0px 0px 10px;
  display: flex;
  flex-direction: row;
}

.review-error{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgb(224, 7, 7);
  text-align: left;
  white-space: pre-line;
}
.post-review{

  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-flex;
  cursor: pointer;
  height: 44px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  vertical-align: middle;
  width: 100%;
  background-color: rgba(224,7,7,1);
  color: rgba(255,255,255,1);
 font-size: 20px;
}