.highlights-container {
    display: flex;

    /* justify-content: center; */
    /* align-items: flex-start; */
  }
  
  .highlights {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
    
  hr{
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: 16px 10px 0px 0px;  
}

  .highlights li {
    display: flex;
    flex-direction: column; /* This creates a column layout for each item */
    align-items: center; /* Centers the items horizontally */
    margin: 5px;
  }
  
  .highlights img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px; /* Adds spacing between the image and text */
  }
  
  .tag-for-highlights {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centers the text under the images */
  }
  
  .tag-for-highlights li {
    font-size: 12px;
    color: #333;
  }
  
  .highlights li span{
    font-size: 20px;
  }